<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Eventually there will be some welcome stuff here and initial app selection pages but that's for later.</p>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Response From Server:</h3>
  </div>
  <div class="panel-body">
    <%= @data.as_json %>
  </div>
</div>
